.about_fon_all_txt{
    border-left: 3px solid rgb(114, 114, 114);
    border-right: 3px solid rgb(114, 114, 114);
    padding: 0 5%;
}
.about_tit{
    font-size: 60px;
    font-weight: 600;
    color: #008ccf;
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.about_info{
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    color: #242323;
    text-align: center;
    font-weight:700;
}
.about_txt{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #292929;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}
.about_txt_2{
    border-top: 3px solid #707072;
    padding: 15px;
    border-bottom: 3px solid #707072;
}
.about_txt b{
    font-size: 23px;
    font-weight: 800;
    color: #010697;
}

/**/
.about_img{
    gap: 10%;
    flex-wrap: nowrap;
    gap: 30px;
}
.press_item{
  width: 500px;
}
  /**/

@media screen and (max-width: 1100) {
    .container{
		max-width: 990px;
	}
    .about_img{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
    
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}