.home{
	position: relative;
	height: 700px;
	width: 100%;
	background: url(../../img/hanon-home.jpg) 0px 0px no-repeat;
	background-size: cover;
}
.home:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.5);
}
.home_tit{
	font-size: 59px;
    color: #ffffff78;
    padding: 0.5em 0;
    font-family: "Oswald", sans-serif;
	text-align: center;
}
.home_txt{
	font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    width: 549px;
    margin: 1% 9%;
}



.golf{
	background: url(../../img/home-tennis.png) no-repeat;
	width: 100%;
	color: white;
	margin-bottom: 5%;
}
.golf_tit{
	font-size: 59px;
    padding: 0.5em 0;
    font-family: "Oswald", sans-serif;
	padding: 4% 4% 2%;
}
.golf_txt{
	font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    text-align: start;
	width: 535px;
	padding:0 4% 2%;
}
.home_btn{
	padding: 6px 24px;
	background: white;
	color: black;
	border-radius: 20px;
	font-size: 27px;
	font-family: "Josefin Sans", sans-serif;
	margin	:0 4% 2%;
}
.arial_tit,
.top_home{
	font-size: 70px;
    font-weight: 600;
    color: #000000;
    font-family: "Oswald", sans-serif;
    text-align: center;
	margin-bottom: 50px;
}

/*home*/
.arial{
	color: black;
}

.home_main_tit{
	font-size: 50px;
	text-align: center;
    color: #008ccf;
    padding: 0.5em 0;
    font-family: "Oswald", sans-serif;
}
.home_main_txt{
	font-family: "Poetsen One", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 1em 0;
	text-align: center;	
}
.home_main{
	background: url(../../img/aboutFon.webp)no-repeat center;
	filter: brightness(60%);
}
.hover_card{
	padding: 100px 0;
}
.vol_img{
	height: 99%;
}

/*hover card*/
.hover-effect-btn {
	position: relative;
	width: 100%;
  }
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Настройка цвета и прозрачности для блока с заголовком */
	transition: background 0.5s ease;
  }
  .hover-effect-btn:hover .overlay {
	display: block;
	background: rgba(74, 73, 73, 0.9); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
  }
  .title {
	position: absolute;
	width: 100%;
	left: 0;
	top: 25%; /* Отступ сверху */
	font-size: 1.900em; /* Размер текста заголовка */
	text-align: center;
	text-transform: uppercase; /* Заглавные буквы */
	color: white; /* Цвет заголовка */
	z-index: 1;
	transition: top .5s ease;
  }
  .hover-effect-btn:hover .title {
	top: 10%; /* Отступ сверху при наведении */
  }
  .button {
	position: absolute;
	width: 100%;
	left:0;
	top: 65%; /* Отступ сверху */
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
  }
  .button a {
	padding: 15px 40px; /* Отступ */
	text-align: center;
	background: #272727; /* Цвет кнопки */
	color: white; /* Цвет текста */
	z-index: 1; 
	transition: 0.3s;
  }
  .button a:hover {
		background: #989898;
  }
  .hover-effect-btn:hover .button {
	opacity: 1;
  }
  /*hover card*/
  .hover_cards{
	flex-wrap: nowrap;
	gap: 5%;
  }
  .shop_img{
	height: 100%;
  }


  /* Настройки */ 
.mask{
    --uiMaskClipPath: var(--maskClipPath);
    box-sizing: var(--maskBoxSizing, border-box);
    display: var(--maskDisplay, inline-flex);
    padding: var(--maskStrokeThickness, 3px);
    clip-path: var(--uiMaskClipPath);
    background-color: var(--maskStrokeColor, currentColor);
    --maskStrokeColor: #ab7445; /* Цвет рамки */
    --maskStrokeThickness: 5px; /* Ширина рамки */ 
}
.mask-img{
    max-width: 100%;
    display: block;
    clip-path: var(--uiMaskClipPath);
}
.mask, 
.mask-img{
    transition: clip-path var(--maskAnimationDuration, .2s) var(--maskAnimationTimingFunction, ease-out);
}
/* Первая рамка */
.mask-one{
    --maskClipPath: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
}
.mask-one-frame{
    --maskAnimationDuration: .4s;
}
.mask-one:hover, 
.mask-one:focus{
    --maskClipPath: polygon(0 0, 100% 0, 100% 10%, 100% 100%, 90% 100%, 0% 100%, 0% 90%, 0% 10%);
}
/* Вторая рамка */
.mask-two{
    --maskClipPath: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.mask-two-frame{
    --maskAnimationDuration: .4s;
}
.mask-two:hover, 
.mask-two:focus{
    --maskClipPath: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
/* Третья рамка */
.mask-three{
    --maskClipPath: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
}
.mask-three-frame{
    --maskAnimationDuration: .5s
}
.mask-three:hover, 
.mask-three:focus{
    --maskClipPath: polygon(90% 0, 100% 0, 100% 10%, 100% 90%, 100% 100%, 90% 100%, 10% 100%, 0 100%, 0 90%, 0 10%, 0 0, 10% 0);
}
/* Четвертая рамка */
.mask-four{
    --maskClipPath: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}
.mask-four:hover, 
.mask-four:focus{
    --maskClipPath: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

  @media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
	.hover_cards {
		flex-wrap: wrap;
		gap: 40px;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
	.home_main{
		width: 376px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}