.CategoryList{
    background: #008ccf;
    padding: 13% 2%;

}
.CategoryList a{
    display: block;
    padding: 12px 10px;
    transition: 0.3s;
    color: white;
    font-weight: 700;
}
.CategoryList a:hover{
    background: #62c6f5;
}
.dropdownBtn{
    padding-bottom: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5%;
}